<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Input Form</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/demo.css}">
</head>
<body>
<h3 class="funny">Student Confirmation</h3>
The student <span class="funny" th:text="${student.firstName} + ' ' + ${student.lastName}"></span> has been confirmed successfully!<br>
Country: <span class="funny" th:text="${student.country}"></span><br>
Favorite language: <span class="funny" th:text="${student.favoriteLanguage}"></span>
</body>
</html>