<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Form</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <form th:action="@{/processCustomerForm}" th:object="${customer}" method="POST">
        First Name: <input type="text" th:field="*{firstName}"/><br><br>
        Last Name: <input type="text" th:field="*{lastName}"/><span style="color: red"> *</span>
        <!-- Add error message for last name -->
        <span th:if="${#fields.hasErrors('lastName')}"
              th:errors="*{lastName}"
              class="error">    <!-- 'lastName' here is the field in the Customer class -->
        </span>
        <br><br>Age: <input type="text" th:field="*{age}"/>
        <!-- Add error message for age -->
        <span th:if="${#fields.hasErrors('age')}"
              th:errors="*{age}"
              class="error">
        </span>
        <br><br>Postal Code: <input type="text" th:field="*{postalCode}"/>
        <!-- Add error message for postal code -->
        <span th:if="${#fields.hasErrors('postalCode')}"
              th:errors="*{postalCode}"
              class="error">
        </span>

        <br><br>Course Code: <input type="text" th:field="*{courseCode}"/>
        <!-- Add error message for course code -->
        <span th:if="${#fields.hasErrors('courseCode')}"
              th:errors="*{courseCode}"
              class="error">
        </span>




        <br><br><input type="submit" value="Submit"/><br><br>
        <span style="color: red">Asterick (*) indicates a required field.</span><br><br>
    </form>
</body>
</html>