<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> <!-- xmlns is a unique identifier for XML elements, attributes-->
<head>
    <meta charset="UTF-8">
    <title>Demo Security</title>
</head>
<body>
<h1>Welcome to the Demo Security Application</h1>
<hr>


    <!-- Display the logged-in user's name and roles -->
    <p>
        User: <span sec:authentication="principal.username"></span>
    </p>
    <p>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>
    <hr>
    <div sec:authorize="hasRole('MANAGER')">
        <p>
            <a th:href="@{/manager}">Manager Section</a>
                Only users with MANAGER role can see this.
        </p>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <p>
            <a th:href="@{/admin}">Admin Section</a>
                Only users with ADMIN role can see this.
        </p>
    </div>

    <!-- Add a logout button -->
    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout">
    </form>
</body>
</html>