<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> <!-- xmlns is a unique identifier for XML elements, attributes-->
<head>
    <meta charset="UTF-8">
    <title>Demo Security</title>
</head>
<body>
<h1>Welcome to the Demo Security Application</h1>
<hr>


    <!-- Display the logged-in user's name and roles -->
    <p>
        User: <span sec:authentication="principal.username"></span>
    </p>
    <p>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>
    <hr>
    <p>
        Welcome Manager!
        <br>
        We are glad to have you here.
        <br>
        We will have a party soon to celebrate your leadership!
    </p>

    <p>
        <a th:href="@{/}">Back to Homepage</a>
    </p>
</body>
</html>