<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello World</title>
        <link rel="stylesheet" th:href="@{/css/demo.css}">
    </head>

    <body>
        <h3 class="funny">Student Confirmation</h3>
        The student <span class="funny" th:text="${student.firstName} + ' ' + ${student.lastName}"></span> has been confirmed successfully!<br>
        Country: <span class="funny" th:text="${student.country}"></span><br>
        Favorite programming language: <span class="funny" th:text="${student.favoriteLanguage}"></span><br>
        Favorite OS:
        <ul>
            <li class="funny" th:each="tempOS: ${student.favoriteOS}" th:text="${tempOS}"></li>
        </ul>
    </body>
</html>