<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>INPUT FORM</title>
        <link rel="stylesheet" th:href="@{/css/demo.css}">
        <meta charset="utf-8" />
    </head>

    <body>
        <h1 class="funny">HELLO! WELCOME TO INPUT FORM <3 4 5</h1>
        <form th:action="@{/processInputForm}" th:object="${student}" method="POST">
            First Name: <input type="text" th:field="*{firstName}" placeholder="Enter your first name"/><br><br>
            Last Name: <input type="text" th:field="*{lastName}" placeholder="Enter your last name"/><br><br>
            Country:
            <select th:field="*{country}"> // *{country} is the field in the Student class
                <option th:each="tempCountry: ${countryList}" th:value="${tempCountry}" th:text="${tempCountry}"/>
            </select><br><br>
            Favorite Programming Language: <!-- *{favoriteLanguage} is the field in the Student class -->
            <input type="radio" th:field="*{favoriteLanguage}" th:each="tempLang : ${programingLanguages}" th:value="${tempLang}" th:text="${tempLang}"/><br><br>

            <input type="submit" value="Submit"/>
        </form>
    </body>
</html>